/* Configurações Gerais */
* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(to top,#333333, rgb(0, 0, 0));
}
/**/

/* Barra de navegação */
#logo {
    margin: 0 20px;
    font-size: 30px;
}

.navbar-toggler {
    margin: auto 15px;
}

.navbar-collapse {
    z-index: 10;
    padding: 10px;
}

.navbar {
    height: 110px;
}

.nav-item {
    margin: 0px 30px;
}

.nav-item a{
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.nav-item a:hover{
    color: gold;
}

/**/

/* Carousel*/

.carousel {
    width: 100%;
}

.carousel img{
    width: 100%;
}

@media (max-width: 1080px) {
    .carousel{
        display: none;
    }
}

/** Conteúdo */

#saudacao {
    text-align: center;
    margin: 30px;
    font-size: 42px;
    color: white;
}

.h2-pg-index {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    color: white;
}

/* Começo dos cartazes */

#div-principal-index {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-cartaz-filme {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    height: 670px;
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 0px 4px 10px black;
    transition: 0.5s width, 0.5s height, 0.5s background-color;
}

.div-cartaz-filme:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 5px 0px 4px 10px black;
    background-color: #333333;

}

.div-cartaz-filme h2 {
    text-align: center;
    font-size: 32px;
    margin: 5px;
}

.div-cartaz-filme a {
    font-weight: bold;
    color: white;
}

.div-cartaz-filme a:hover {
    color:gold
}

.cartaz-filme {
    width: 330px;
    height: 500px;
    margin: 10px;
    border-radius: 10px;

}

/* Fim dos cartazes */

/* Localização */

.div-localizacao {
    box-sizing: border-box;
    padding-top:50px ;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.conteudo-localizacao {
    box-sizing: border-box;
    padding: 30px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: #3b393a;
}

/* Rodapé */

.rodape {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #3b393a;
}

.rodape span {
    font-size: 20px;
}
/* ---------------------------------------------------- */



/* ---------------------------------------------------- */


/* Arquivo Filmes */

#principal-filme {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#cartao {
    min-width: 302px;
    width: 302px;
    margin: 10px 30px;
}

#cartao p{
    color:black;
}

#titulo-filme {
    display: inline;
}

#sinopse-filme {
    margin-top: 10px;
    width: 900px;
}


/**/

/* Lado Direito */

/* Seleção de dia e hora */
.contorno {
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
}

.botao-dia {
    width: 150px;
    font-size: 20px;
}

.horas-disponiveis {
    display: flex;
    height: 70px;
    width: 600px;
    margin: 10px 5px;
    justify-content: center;
}

.botao-horas {
    width: 100px;
    background-color: grey;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid white;
}

.botao-horas:hover {
    background-color: gold;
    color: white;
}
/* */

/* Quantidade de ingressos */
#quantidade-ingressos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#quantidade-ingressos input {
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    color: black;
}

.confirmar {
    margin: 20px;
    width: 500px;
    height: 50px;
    font-size: 30px;
    background-color: #28a745;
    border-radius: 30px;
}

.confirmar:hover {
    background-color: #006400;
}
/**/

/* Sobre */
.imagem {
    width: 100%;
    height: 600px;
}